
</DIV>
<DIV CLASS="box2">
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.
<BR>
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
<A HREF="http://www.gnu.org/copyleft/gpl.html">
GNU General Public License</A> for more details.
</DIV>

<I STYLE="color: #000000; font-size: 8pt;">Last updated: Sat Mar 18 23:11:36 CET 2006 -- <A HREF="mailto:ivovp@users.sourceforge.net">Ivo van Poorten</A></I>
<P>
<a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-html401" alt="Valid HTML 4.01 Transitional" height="31" width="88"></a>
<A HREF="http://sourceforge.net/"><IMG SRC="http://sourceforge.net/sflogo.php?group_id=163015" ALT="SourceForge Logo" BORDER="0" WIDTH="86" HEIGHT="30"></A>

</BODY>
</HTML>
