<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    
<HTML>
<HEAD>
<TITLE> xAutoClick </TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK rel="stylesheet" type="text/css" href="default.css">
<LINK rel="icon" type="image/png" href="icon.png">
<STYLE>
    img { border: 0px; }
</STYLE>
</HEAD>
<BODY>

<DIV CLASS="box">
<B STYLE="font-size: 32pt; color: #000000;">xAutoClick</B>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://sourceforge.net/donate/index.php?group_id=163015"><img src="http://images.sourceforge.net/images/project-support.jpg" width="88" height="32" border="0" alt="Support This Project" /></a>
<BR>Copyright (C) 2006-2010 by Ivo van Poorten
</DIV>

<DIV CLASS="menu">
<B><A HREF="news.html">NEWS</A></B> &nbsp;&nbsp;
<B><A HREF="about.html">ABOUT</A></B> &nbsp;&nbsp;
<B><A HREF="screenshots.html">SCREENSHOTS</A></B> &nbsp;&nbsp;
<B><A HREF="documentation.html">DOCUMENTATION</A></B> &nbsp;&nbsp;
<B><A HREF="download.html">DOWNLOAD</A></B> &nbsp;&nbsp;
<B><A HREF="mailinglists.html">MAILINGLISTS</A></B> &nbsp;&nbsp;
<B><A HREF="subversion.html">SVN</A></B> &nbsp;&nbsp;
</DIV>

<DIV CLASS="box3">

